<h1><%= @article.title %> </h1>
<p><%= @article.description %> </p>
<%= link_to 'All Articles', articles_path %> |
<%= link_to 'Edit', edit_article_path(@article) %> | 
<%= link_to 'Delete', article_path(@article), method: :delete, data: "Are you sure?" %>e